<div>
  <h1>Scan QR Code</h1>
  <!--<form>-->
    <!--<input type="submit" value="QR Code">-->
    <!--<br>-->
    <!--<br>-->
    <!--<div>-->
      <!--RTC Number: <input type="text"> <input type="submit" value="Submit">-->
    <!--</div>-->
  <!--</form>-->
  <%= button_to "QR Code", {:pages => 'qr_code'} %>

  <h1>Enter RTC Number</h1>
  <%= form_with scope: :rtc_card, local: true do |form| %>
    <p>
      <%= form.label :number %><br>
      <%= form.text_field :number %><br>
    </p>

    <p>
      <%= form.submit %>
    </p>
    <% end %>

</div>