<div>
  <h1 class="jumbotron">RTC Card</h1>
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  
  <%= form_with model: @card do |form| %>
    <p>
      Number: <%= form.label @card.number %><br><br>
      Status: <%= form.select :status, options_for_select(['New','Begin Analysis','Start Working','Set Done'], selected: @card.status) %><br><br>
      Points: <%= form.select :points, options_for_select([0,1,3,5,8,13,21,34,55,89,144],selected: @card.points)%><br><br>

    </p>

    <p>
      <%= form.submit 'Save' %>
    </p>
  <% end %>

</div>